<div>
  <h1 style="display: flex;justify-content: center;align-items: center;">Catalogo de Productos</h1>
  <br>
  <div class="form">
    <div class="form-group">
      <label for="nombreEdit">Nombre:</label>
      <input type="text" id="nombreEdit" [(ngModel)]="this.nombre_producto" required>
    </div>

    <div class="form-group">
      <label for="precioEdit">Precio:</label>
      <input type="number" id="precioEdit" [(ngModel)]="this.precio" required>
    </div>

    <div class="form-group">
      <label for="descripcionEdit">Descripción:</label>
      <textarea id="descripcionEdit" [(ngModel)]="this.descripcion"></textarea>
    </div>

    <div class="form-group">
      <button (click)="agregarProducto()">Guardar Cambios</button>
    </div>
  </div>
  <br>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.descripcion }}</td>
        <td><button (click)="eliminarProducto(producto.id)">eliminar</button></td>
        <!-- <td><button (click)="actualizarProducto(producto.id)">Actualizar</button></td> -->

      </tr>
    </tbody>
  </table>



</div>